body, html {
  margin: 0px;
}

html {
  background: url(../images/4k-astrology-1146134-6000-3375.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
